In [1]:
%matplotlib inline
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
conn = sqlite3.connect("../activity.db")
wrk_df = pd.read_sql_query("select time,tz,duration,type,source,distance from workout;", conn)
wrk_df['utc'] = pd.to_datetime(wrk_df['time'],unit='s')  # UTC time
wrk_df.tail()

,time,tz,duration,type,source,distance,utc
359,1506403051,180,2334,Running,iSmoothRun,6821,2017-09-26 05:17:31
360,1506443086,180,1550,Cycling,Koby’s Apple Watch,5220,2017-09-26 16:24:46
361,1506529330,180,1193,Cycling,Koby’s Apple Watch,4542,2017-09-27 16:22:10
362,1506576531,180,2407,Running,Koby’s Apple Watch,6377,2017-09-28 05:28:51
363,1506604667,180,1031,Cycling,Koby’s Apple Watch,4483,2017-09-28 13:17:47

In [4]:
last_workout = wrk_df.iloc[-1]
startTime = last_workout['time']
endTime = last_workout['time'] + last_workout['duration']

In [1]:
loc_df = pd.read_sql_query('select * from location where time>={} and time<={}'.format(startTime,endTime), conn)
loc_df.tail()